# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Database configs
*.db
*.sql

# Flask/Machine secrets
instance/
config.py

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

